body{
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    width: 900px;
    margin: 0 auto;
}
.title{
    text-align: center;
}
.title h1{
    margin: 0px 0px;
}
.title p{
    color: rgb(32, 151, 32);
    font-size: 20px;
    margin: 5px 0;
}
form{
    padding: 20px 0;
}
#name{
    width: 820px;
    height: 40px;
}
form .input-group input:focus{
     box-shadow: 0px 0px 5px 3px lightblue;
     border: 2px solid rgb(32, 151, 32);
     outline: none;
}
.dual{
    padding: 30px 0;
}
.dual .input-group{
    float: left;
    width: 50%;
}
.dual .input-group input{
    width: 80%;
    height: 40px;
}
[type="button"]{
    clear: both;
    padding: 15px 0;
    width: 100px;
    color: white;
    display: block;
    background-color: rgb(32, 151, 32);
    margin: 40px auto 0px auto;
    border: none;
    border-radius: 5px;
}
table{
    width: 100%;
    border-collapse: collapse;
}
th{
    height: 40px;
    background-color: rgb(32, 151, 32);
    color: white;
    text-align: left;
    padding-left: 10px;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}
td{
    padding: 20px 0;
}